<h6 class="center-align">
  Clientes registrados
</h6>
<table>
 <thead>
   <tr>
     <th>Nombre</th>
     <th>Apellido</th>
     <th>CC</th>
     <th>Editar</th>
     <th>Borrar</th>
   </tr>
 </thead>

 <tbody >
  <tr *ngFor="let Cliente of ClientesList">
    <td >{{Cliente.Nombres}} </td>
     <td>{{Cliente.Apellidos}} </td>
     <td>{{Cliente.CC}} </td>
     <td class="center-align">
       <a class="btn">
         <i class="material-icons right" (click)="onEdit(Cliente)">edit</i>
       </a>
     </td>
     <td class="center-align">
       <a class="btn">
         <i class="material-icons right " (click)="onDelete(Cliente.$key)">delete</i>
       </a>
     </td>
   </tr>
 </tbody>
</table>
