<h5 class="center-align">
   Trabajadores registrados
</h5>
<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>CC</th>
      <th>Editar</th>
      <th>Borrar</th>
    </tr>
  </thead>

  <tbody >
    <tr *ngFor="let Trabajador of TrabajadorList">
      <td >{{Trabajador.Nombre}} </td>
      <td>{{Trabajador.Apellido}} </td>
      <td>{{Trabajador.CC}} </td>
      <td class="center-align">
        <a class="btn">
          <i class="material-icons right" (click)="onEdit(Trabajador)">edit</i>
        </a>
      </td>
      <td class="center-align">
        <a class="btn">
          <i class="material-icons right " (click)="onDelete(Trabajador.$key)">delete</i>
        </a>
      </td>
    </tr>
  </tbody>
</table>