<form #trabajadorForm=ngForm (ngSubmit)="onSubmit(trabajadorForm)" >
  <input type="hidden" class="form-control" name="$key" #$key="ngModel" [(ngModel)]=" trabajadorServices.selectedTrabajador.$key">
  <div class="form-group">
    <label>Nombre</label>
    <input class="form-control" name="Nombre" #Nombre="ngModel" [(ngModel)]=" trabajadorServices.selectedTrabajador.Nombre" placeholder="Nombres" required>
  </div>
  <div class="form-group">
    <label>Apellido</label>
    <input class="form-control" name="Apellido" #Apellido="ngModel" [(ngModel)]=" trabajadorServices.selectedTrabajador.Apellido" placeholder="Apellidos">
  </div>
  <div class="form-group">
    <label>CC</label>
    <input class="form-control" name="CC" #CC="ngModel" [(ngModel)]=" trabajadorServices.selectedTrabajador.CC" placeholder="Número de identificación">
  </div>
  <div class="form-group">
    <label>Telefono</label>
    <input class="form-control" name="Telefono" #Telefono="ngModel" [(ngModel)]=" trabajadorServices.selectedTrabajador.Telefono" placeholder="Télefono">
  </div>
  <div class="form-group">
    <label>Direccion</label>
    <input class="form-control" name="Direccion" #Direccion="ngModel" [(ngModel)]=" trabajadorServices.selectedTrabajador.Direccion" placeholder="Dirección">
  </div>
  
  <div class="form-group">
    <button class="btn waves-effect waves-light" type="submit" [disabled]="!trabajadorForm.valid">Guardar
      <i class="material-icons right">send</i>
    </button>
    <button class="btn waves-effect waves-light" type="button" (click)="resetForm(trabajadorForm)">Borrar
      <i class="material-icons right">autorenew</i>
    </button>
  </div>

</form>

