<form #clienteForm=ngForm (ngSubmit)="onSubmit(clienteForm)" >
  <div class="form-group">
    <input type="hidden" name="$key" #$key="ngModel" [(ngModel)]=" clienteServices.selectedCliente.$key" required>
    <label>Tipo</label>
    <input class="form-control" name="Tipo" #Tipo="ngModel" [(ngModel)]=" clienteServices.selectedCliente.Tipo" placeholder="Tipo de Cliente" required>
  </div>
  <div class="form-group">
    <label>Nombres</label>
    <input class="form-control" name="Nombres" #Nombres="ngModel" [(ngModel)]=" clienteServices.selectedCliente.Nombres" placeholder="Nombres">
  </div>
  <div class="form-group">
    <label>Apellidos</label>
    <input class="form-control" name="Apellidos" #Apellidos="ngModel" [(ngModel)]=" clienteServices.selectedCliente.Apellidos" placeholder="Apellidos">
  </div>

  <div class="form-group">
    <label>CC</label>
    <input class="form-control" name="CC" #CC="ngModel" [(ngModel)]=" clienteServices.selectedCliente.CC" placeholder="CC">
  </div>


  <div class="form-group">
    <label>Departamentode residencia</label>
    <input class="form-control" name="DepartamentoR" #DepartamentoR="ngModel" [(ngModel)]=" clienteServices.selectedCliente.DepartamentoR" placeholder="Departamento de residencia">
  </div>

  <div class="form-group">
    <label>Ciudad de residencia</label>
    <input class="form-control" name="CiudadR" #CiudadR="ngModel" [(ngModel)]=" clienteServices.selectedCliente.CiudadR" placeholder="Ciudad de residencia">
  </div>

  <div class="form-group">
    <label>Dirección de residencia</label>
    <input class="form-control" name="DireccionR" #DireccionR="ngModel" [(ngModel)]=" clienteServices.selectedCliente.DireccionR" placeholder="Dirección de residencia">
  </div>

  
  <div class="form-group">
    <label>Departamento de Servicio</label>
    <input class="form-control" name="DepartamentoS" #DepartamentoS="ngModel" [(ngModel)]=" clienteServices.selectedCliente.DepartamentoS" placeholder="Departamento de Servicio">
  </div>

  <div class="form-group">
    <label>Ciudad de Servicio</label>
    <input class="form-control" name="CiudadS" #CiudadS="ngModel" [(ngModel)]=" clienteServices.selectedCliente.CiudadS" placeholder="Ciudad de Servicio">
  </div>

  <div class="form-group">
    <label>Dirección de Servicio</label>
    <input class="form-control" name="DireccionS" #DireccionS="ngModel" [(ngModel)]=" clienteServices.selectedCliente.DireccionS" placeholder="Dirección de Servicio">
  </div>
  
  <div class="form-group">
      <button class="bn btn-default" type="submit" [disabled]="!clienteForm.valid">
        <i class="fa fa-floppy-o"></i>
        Enviar</button>
      <button class="bn btn-default" type="button" (click)="resetForm(clienteForm)">
        <i class="fa fa-repeat"></i>
        Reset</button>
  </div>
</form>