<!--The content below is only a placeholder and can be replaced.-->
<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">Logo</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li>
        <a routerLink="/clientes" routerLinkActive="active">Nuevo Cliente</a>
      </li>
      <li>
        <a routerLink="/trabajadores" routerLinkActive="active">Nuevo Trabajador</a>
      </li>
      <li>
        <a hrouterLink="/" routerLinkActive="active" class = "valign-wrapper">
          <img src="assets/perfil_2.png" alt="" class="circle responsive-img">
          Fulan@
        </a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">

  <router-outlet></router-outlet>
</div>