<div class="container center-align">
  <h3 class="col s12 m10">Refrisoluciones Del Caribe</h3>
  <div class="row">
    <div class="col s4">
      <div class="card medium">
        <div class="card-image">
          <img src="assets/r1.jpg">
          <span class="card-title">Nuevo Servicio</span>
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <p>Empezar el proceso creado un nuevo servicio</p>
          </div>
          <div class="card-action">
            <a routerLink="/" routerLinkActive="active" class="center-align">Crear</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col s4">
      <div class="card medium">
        <div class="card-image">
          <img src="assets/r2.jpg">
          <span class="card-title">Historial de Servicios</span>
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <div class="left-align">
              <label>Cliente</label>
              <input placeholder="Fulano de tal">
            </div>
          </div>
          <div class="card-action">
            <a routerLink="/" routerLinkActive="active" class="center-align">Buscar</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col s4">
      <div class="card medium">
        <div class="card-image">
          <img src="assets/r3.jpg">
          <span class="card-title">Historial de Facturas</span>
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <div class="left-align">
              <label>Cliente</label>
              <input placeholder="Fulano de tal">
            </div>
          </div>
          <div class="card-action">
            <a routerLink="/" routerLinkActive="active" class="center-align">Buscar</a>
          </div>
        </div>
      </div>
    </div>
  
  </div>
</div>

